{
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      }
      h1 {
      margin-bottom: 15px;
      text-align: center;
      padding: 70px;
      }

      p {
      color: red;
      font-size: 30px;
      }

    /* Simple Responsive Framework. */
       body {
        margin: 20px;
       }  

    /********** Large devices only **********/
      @media (min-width: 992px) {
      .box1 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 32%;
        float: left;
        margin-right: 10px;
      }
      .box2 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 32%;
        float: left;
        margin-right: 10px;
      }
      .box3 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 32%;
        float: left;
      } 
      .col-lg-1 {
        background-color: lightblue; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-lg-2 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-lg-3 {
        background-color: red; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: white;
      }
      .col-lg-4 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-lg-5 {
        background-color: lightgreen; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-lg-6 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
      }        
    }
    /********** Medium devices only **********/
    @media (min-width: 768px) and (max-width: 991px) {
      .box4 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 47%;
        float: left;
        margin-right: 10px;
      }
      .box5 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 47%;
        float: left;
      }
      .box6 {
        margin-top: 10px;
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 100%;
        float: left;
      } 
      .col-md-1 {
        background-color: lightblue; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-md-2 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-md-3 {
        background-color: red; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: white;
      }
      .col-md-4 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-md-5 {
        background-color: lightgreen; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-md-6 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
   }
   @media (max-width: 767px) {
      .box4 {
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 100%;
        float: left;
      }
      .box5 {
        margin-top: 10px;
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 100%;
        float: left;
      }
      .box6 {
        margin-top: 10px;
        background-color: orange;
        padding: 0;
        border: 5px solid red;
        width: 100%;
        float: left;
      } 
      .col-md-1 {
        background-color: lightblue; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-md-2 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-md-3 {
        background-color: red; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: white;
      }
      .col-md-4 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
      .col-md-5 {
        background-color: lightgreen; 
        padding: 0;
        margin: 0;
        width: 150px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        float: right;
        color: black;
      }
      .col-md-6 {
        font-size: 20px;
        padding-top: 15px;
        clear: right;
    }
   }